* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  background: transparent;
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
  padding: 0px 10px;
  height: 50px;
  margin-left: 10px;
  color: white;
}
input input::placeholder {
  color: white;
  opacity: 0.5;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  letter-spacing: 1px;
  margin: 0px 10px;
  width: 100px;
}

button:hover {
  border: 2px solid white;
}

.header {
  width: 100%;
  height: 110px;
  display: flex;
  color: #f0db4f;
  align-items: center;
  background-color: #323330;
}
.header .header__section {
  margin-left: 83px;
  flex: 1.2;
}
.header .header__section h1 {
  cursor: pointer;
  font-size: 36px;
  letter-spacing: 1px;
}
.header .header__section p {
  cursor: default;
  font-size: 16px;
  letter-spacing: 1px;
}
.header .header__menu {
  flex: 1;
  margin-right: 15px;
}
.header .header__menu .header__menu--icon {
  display: none;
}
.header .header__menu ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-evenly;
}
.header .header__menu ul li {
  cursor: pointer;
  list-style: none;
  border-top: 1px solid #323330;
  border-right: 1px solid #323330;
  border-left: 1px solid #323330;
}
.header .header__menu ul li a {
  height: 50px;
  text-decoration: none;
  color: #f0db4f;
  display: flex;
  align-items: center;
}
.header .header__menu ul li a:hover {
  border-bottom: 1px solid #f0db4f;
}

.formCuadrado {
  width: 100%;
  height: auto;
  background: #323330;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.formCuadrado .formCuadrado__contenedor {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 400px;
  min-width: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px 0px;
}
.formCuadrado .formCuadrado__contenedor form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.formCuadrado .formCuadrado__contenedor form section {
  margin: 20px 0px;
}
.formCuadrado .formCuadrado__contenedor label {
  font-size: 19px;
}
.formCuadrado .formCuadrado__contenedor .poligCuadrado {
  width: 150px;
  height: 150px;
  background: #f0db4f;
  margin: 15px auto;
}

.formTriangulo {
  width: 100%;
  height: auto;
  background-color: #323330;
}
.formTriangulo .formTriangulo__contenedor form .formTriangulo__contenedor--section {
  display: flex;
  flex-direction: column;
}
.formTriangulo .formTriangulo__contenedor .poligTriangulo {
  border-right: 75px solid transparent;
  border-top: 0;
  border-left: 75px solid transparent;
  border-bottom: 100px solid #f0db4f;
  margin: 15px auto;
}

.formCirculo {
  width: 100%;
  height: auto;
  background-color: #323330;
}
.formCirculo .formCirculo__contenedor .poligCirculo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #f0db4f;
  margin: 15px auto;
}

.footer {
  width: 100%;
  height: 110px;
  background-color: #323330;
  color: #f0db4f;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1px;
}
.footer img {
  margin-right: 15px;
}
.footer .contenedor__footer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer .contenedor__footer p {
  margin-bottom: 0px;
}
.footer .github {
  width: 50px;
  height: 50px;
}
.footer .linkedin {
  width: 50px;
  height: 50px;
}
.footer .gmail {
  width: 50px;
  height: 50px;
}

.menuResponsive {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #323330;
}

.menuResponsive.active {
  display: block;
}
.menuResponsive.active nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuResponsive.active nav ul li {
  margin-top: 15px;
  list-style: none;
}
.menuResponsive.active nav ul li a {
  text-decoration: none;
  color: #f0db4f;
}

@media only screen and (max-width: 835px) {
  .header {
    height: 90px;
  }
  .header .header__section {
    margin-left: 60px;
  }
  .header .header__section h1 {
    cursor: pointer;
    font-size: 26px;
  }
  .header .header__section p {
    display: none;
  }
  .header .header__menu {
    text-align: right;
  }
  .header .header__menu nav {
    display: none;
  }
  .header .header__menu .header__menu--icon {
    display: inline;
    margin-right: 15px;
  }

  .formCuadrado .formCuadrado__contenedor {
    width: 85%;
  }

  .formTriangulo .formTriangulo__contenedor {
    width: 85%;
  }

  .formCirculo .formCirculo__contenedor {
    width: 85%;
  }

  .footer {
    height: 90px;
  }
  .footer .contenedor__footer p {
    display: none;
  }
  .footer .github img {
    width: 40px;
    height: 40px;
  }
  .footer .linkedin img {
    width: 40px;
    height: 40px;
  }
  .footer .gmail img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 704px) {
  .header {
    font-size: 8px;
    width: 100%;
    height: 77px;
  }
  .header .header__menu {
    margin-left: 23px;
  }

  .info {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .info .contenedor__info {
    width: 100%;
  }
  .info .contenedor__info .contenedor__info--img img {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
