* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title h2, .salarios__info .contenedor__salarios--info .salarios--details h2, .porcentajes__info .contenedor__porcentajes--info .porcentajes--details h2, .geometria__info .contenedor__geometria--info .geometria--details h2 {
  margin-bottom: 20px;
}

button {
  text-align: center;
  border-style: none;
  background-color: #323330;
  color: #f0db4f;
  width: 235px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 16px;
  font-size: 26px;
  font-weight: bold;
}

button:hover {
  color: #323330;
  background-color: #f0db4f;
  transition: 1000ms;
}

p {
  margin-bottom: 50px;
}

.header {
  width: 100%;
  height: 110px;
  background-color: #323330;
  color: #f0db4f;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.header .header__title {
  flex: 1.2;
  display: flex;
  align-items: center;
}
.header .header__title img {
  width: 70px;
  border-radius: 16px;
  margin: 20px;
  margin-right: 30px;
  margin-left: calc(108px - 20px);
}
.header .header__title img,
.header .header__title h1 {
  cursor: pointer;
}
.header .header__menu {
  flex: 1;
  font-size: 16px;
}
.header .header__menu nav {
  display: inline;
}
.header .header__menu nav ul {
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-evenly;
}
.header .header__menu nav ul li {
  cursor: pointer;
  list-style: none;
  border-top: 1px solid #323330;
  border-right: 1px solid #323330;
  border-left: 1px solid #323330;
}
.header .header__menu nav ul li a {
  height: 50px;
  text-decoration: none;
  color: #f0db4f;
  display: flex;
  align-items: center;
}
.header .header__menu nav ul li a:hover {
  border-bottom: 1px solid #f0db4f;
}
.header .header__menu .header__menu--icon {
  display: none;
}

.info {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}
.info .contenedor__info {
  width: 50%;
  display: flex;
  height: calc(100vh - 110px);
  align-items: center;
}
.info .contenedor__info .contenedor__info--details {
  width: 74%;
  height: 50%;
  margin: 0 auto;
  color: #323330;
  font-size: 25px;
}
.info .contenedor__info .contenedor__info--details h2 {
  margin-bottom: 50px;
}
.info .contenedor__info .contenedor__info--img {
  margin: 0 auto;
}
.info .contenedor__info .contenedor__info--img img {
  width: 450px;
}

.geometria__info {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}
.geometria__info .contenedor__geometria--info {
  width: 50%;
  display: flex;
  height: calc(100vh - 110px);
  align-items: center;
}
.geometria__info .contenedor__geometria--info .geometria--details {
  width: 74%;
  height: 50%;
  margin: 0 auto;
  color: #323330;
  font-size: 25px;
}
.geometria__info .contenedor__geometria--info .geometria--img {
  margin: 0 auto;
}
.geometria__info .contenedor__geometria--info .geometria--img img {
  width: 450px;
}

.porcentajes__info {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}
.porcentajes__info .contenedor__porcentajes--info {
  width: 50%;
  display: flex;
  height: calc(100vh - 110px);
  align-items: center;
}
.porcentajes__info .contenedor__porcentajes--info .porcentajes--img {
  margin: 0 auto;
}
.porcentajes__info .contenedor__porcentajes--info .porcentajes--img img {
  width: 450px;
}
.porcentajes__info .contenedor__porcentajes--info .porcentajes--details {
  width: 74%;
  height: 50%;
  margin: 0 auto;
  color: #323330;
  font-size: 25px;
}

.salarios__info {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}
.salarios__info .contenedor__salarios--info {
  width: 50%;
  display: flex;
  height: calc(100vh - 110px);
  align-items: center;
}
.salarios__info .contenedor__salarios--info .salarios--details {
  width: 74%;
  height: 50%;
  margin: 0 auto;
  color: #323330;
  font-size: 25px;
}
.salarios__info .contenedor__salarios--info .salarios--img {
  margin: 0 auto;
}
.salarios__info .contenedor__salarios--info .salarios--img img {
  width: 450px;
}

.footer {
  width: 100%;
  height: 110px;
  background-color: #323330;
  color: #f0db4f;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1px;
}
.footer img {
  margin-right: 15px;
}
.footer .contenedor__footer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer .contenedor__footer p {
  margin-bottom: 0px;
}
.footer .github img {
  width: 70px;
  height: 70px;
}
.footer .linkedin img {
  width: 70px;
  height: 70px;
}
.footer .gmail img {
  width: 70px;
  height: 70px;
}

.menuResponsive {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #323330;
}

.menuResponsive.active {
  display: block;
}
.menuResponsive.active nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuResponsive.active nav ul li {
  margin-top: 15px;
  list-style: none;
}
.menuResponsive.active nav ul li a {
  text-decoration: none;
  color: #f0db4f;
}

@media only screen and (max-width: 835px) {
  .header {
    height: 90px;
    font-size: 10px;
  }
  .header .header__title {
    margin-left: 23px;
    letter-spacing: 1px;
  }
  .header .header__title img {
    width: 40px;
    border-radius: 8px;
    margin: 5px;
    margin-right: 15px;
    margin-left: calc(24px - 5px);
  }
  .header .header__menu {
    text-align: right;
  }
  .header .header__menu nav {
    display: none;
  }
  .header .header__menu .header__menu--icon {
    display: block;
    margin-right: 35px;
  }

  .info {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 15px;
  }
  .info .contenedor__info {
    width: 100%;
    height: auto;
  }
  .info .contenedor__info .contenedor__info--img img {
    width: 650px;
  }

  .geometria__info {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .geometria__info .contenedor__geometria--info {
    width: 100%;
    height: auto;
  }
  .geometria__info .contenedor__geometria--info .geometria--img img {
    width: 85%;
  }

  .porcentajes__info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .porcentajes__info .contenedor__porcentajes--info {
    width: 100%;
    height: auto;
  }
  .porcentajes__info .contenedor__porcentajes--info .porcentajes--img img {
    width: 85%;
  }

  .salarios__info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .salarios__info .contenedor__salarios--info {
    width: 100%;
    height: auto;
  }
  .salarios__info .contenedor__salarios--info .salarios--img img {
    width: 85%;
    margin: 20px;
  }

  .footer {
    height: 90px;
  }
  .footer .contenedor__footer p {
    display: none;
  }
  .footer .github img {
    width: 40px;
    height: 40px;
  }
  .footer .linkedin img {
    width: 40px;
    height: 40px;
  }
  .footer .gmail img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 704px) {
  .header {
    font-size: 8px;
    width: 100%;
    height: 77px;
  }
  .header .header__title {
    margin-left: 23px;
    width: 80%;
    letter-spacing: 1px;
  }
  .header .header__title img {
    width: 40px;
    border-radius: 8px;
    margin: 5px;
    margin-right: 15px;
    margin-left: calc(24px - 5px);
  }
  .header .header__menu nav {
    display: none;
  }
  .header .header__menu .header__menu--icon {
    display: inline;
  }

  .info {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .info .contenedor__info {
    width: 100%;
  }
  .info .contenedor__info .contenedor__info--img img {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
